img {
    height: 115px;
    width: auto;
}

.result {
    display: flex;
    width: 100%;
    max-width: 700px;
    background-color: white;
    padding: 15px 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    max-height: 300px;
    border-radius: 5px;
}

.result > div {
    margin-right: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.content {
    max-width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px;
}

.author {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;

    --max-lines: 1; 
    overflow: hidden;
    
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines)

}

.desc {
    margin-top: 15px;
    --max-lines: 3; 
    overflow: hidden;
    
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines)
}

.cover {
    margin: auto 0;
    height: 115px;
    width: fit-content;
    max-width: 85px;
    overflow: hidden;
}


